In [ ]:
Repaso Pandas

In [1]:
import pandas as pd

Lectura del archivo

In [23]:
data = pd.read_excel('./datasets/cars.xlsx')

data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70.0,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70.0,1,buick skylark 320
2,18.0,8,NaN,150,3436,11.0,70.0,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70.0,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70.0,1,ford torino

In [8]:
data['car name']

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: car name, Length: 398, dtype: object

Como saber cuantas marcas de carros existen

In [31]:
def get_how_many_cars_exist(dataframe):
    dictionary_of_cars = {}
    for car in data[dataframe]:
        if car in dictionary_of_cars:
            dictionary_of_cars[car] += 1
        else:
            dictionary_of_cars[car] = 1
    return dictionary_of_cars

In [32]:
get_how_many_cars_exist('car name')

{'chevrolet chevelle malibu': 2,
 'buick skylark 320': 1,
 'plymouth satellite': 1,
 'amc rebel sst': 1,
 'ford torino': 1,
 'ford galaxie 500': 3,
 'chevrolet impala': 4,
 'plymouth fury iii': 3,
 'pontiac catalina': 3,
 'amc ambassador dpl': 1,
 'dodge challenger se': 1,
 "plymouth 'cuda 340": 1,
 'chevrolet monte carlo': 1,
 'buick estate wagon (sw)': 2,
 'toyota corona mark ii': 1,
 'plymouth duster': 3,
 'amc hornet': 4,
 'ford maverick': 5,
 'datsun pl510': 2,
 'volkswagen 1131 deluxe sedan': 1,
 'peugeot 504': 4,
 'audi 100 ls': 1,
 'saab 99e': 1,
 'bmw 2002': 1,
 'amc gremlin': 4,
 'ford f250': 1,
 'chevy c20': 1,
 'dodge d200': 1,
 'hi 1200d': 1,
 'chevrolet vega 2300': 1,
 'toyota corona': 4,
 'ford pinto': 6,
 'plymouth satellite custom': 1,
 'ford torino 500': 1,
 'amc matador': 5,
 'pontiac catalina brougham': 1,
 'dodge monaco (sw)': 1,
 'ford country squire (sw)': 2,
 'pontiac safari (sw)': 1,
 'amc hornet sportabout (sw)': 1,
 'chevrolet vega (sw)': 1,
 'pontiac firebird': 1,
 'ford mustang': 1,
 'mercury capri 2000': 1,
 'opel 1900': 2,
 'peugeot 304': 1,
 'fiat 124b': 1,
 'toyota corolla 1200': 2,
 'datsun 1200': 1,
 'volkswagen model 111': 1,
 'plymouth cricket': 1,
 'toyota corona hardtop': 1,
 'dodge colt hardtop': 1,
 'volkswagen type 3': 1,
 'chevrolet vega': 3,
 'ford pinto runabout': 1,
 'amc ambassador sst': 1,
 'mercury marquis': 1,
 'buick lesabre custom': 1,
 'oldsmobile delta 88 royale': 1,
 'chrysler newport royal': 1,
 'mazda rx2 coupe': 1,
 'amc matador (sw)': 2,
 'chevrolet chevelle concours (sw)': 1,
 'ford gran torino (sw)': 2,
 'plymouth satellite custom (sw)': 1,
 'volvo 145e (sw)': 1,
 'volkswagen 411 (sw)': 1,
 'peugeot 504 (sw)': 1,
 'renault 12 (sw)': 1,
 'ford pinto (sw)': 1,
 'datsun 510 (sw)': 1,
 'toyouta corona mark ii (sw)': 1,
 'dodge colt (sw)': 1,
 'toyota corolla 1600 (sw)': 1,
 'buick century 350': 1,
 'chevrolet malibu': 2,
 'ford gran torino': 3,
 'dodge coronet custom': 1,
 'mercury marquis brougham': 1,
 'chevrolet caprice classic': 3,
 'ford ltd': 2,
 'plymouth fury gran sedan': 1,
 'chrysler new yorker brougham': 1,
 'buick electra 225 custom': 1,
 'amc ambassador brougham': 1,
 'plymouth valiant': 2,
 'chevrolet nova custom': 1,
 'volkswagen super beetle': 1,
 'ford country': 1,
 'plymouth custom suburb': 1,
 'oldsmobile vista cruiser': 1,
 'toyota carina': 1,
 'datsun 610': 1,
 'maxda rx3': 1,
 'mercury capri v6': 1,
 'fiat 124 sport coupe': 1,
 'chevrolet monte carlo s': 1,
 'pontiac grand prix': 1,
 'fiat 128': 2,
 'opel manta': 2,
 'audi 100ls': 2,
 'volvo 144ea': 1,
 'dodge dart custom': 1,
 'saab 99le': 2,
 'toyota mark ii': 2,
 'oldsmobile omega': 1,
 'chevrolet nova': 3,
 'datsun b210': 1,
 'chevrolet chevelle malibu classic': 2,
 'plymouth satellite sebring': 1,
 'buick century luxus (sw)': 1,
 'dodge coronet custom (sw)': 1,
 'audi fox': 1,
 'volkswagen dasher': 3,
 'datsun 710': 2,
 'dodge colt': 3,
 'fiat 124 tc': 1,
 'honda civic': 3,
 'subaru': 2,
 'fiat x1.9': 1,
 'plymouth valiant custom': 1,
 'mercury monarch': 1,
 'chevrolet bel air': 1,
 'plymouth grand fury': 1,
 'buick century': 2,
 'chevroelt chevelle malibu': 1,
 'plymouth fury': 1,
 'buick skyhawk': 1,
 'chevrolet monza 2+2': 1,
 'ford mustang ii': 1,
 'toyota corolla': 5,
 'pontiac astro': 1,
 'volkswagen rabbit': 2,
 'amc pacer': 1,
 'volvo 244dl': 1,
 'honda civic cvcc': 2,
 'fiat 131': 1,
 'capri ii': 1,
 'renault 12tl': 1,
 'dodge coronet brougham': 1,
 'chevrolet chevette': 4,
 'chevrolet woody': 1,
 'vw rabbit': 2,
 'dodge aspen se': 1,
 'ford granada ghia': 1,
 'pontiac ventura sj': 1,
 'amc pacer d/l': 1,
 'datsun b-210': 1,
 'volvo 245': 1,
 'plymouth volare premier v8': 1,
 'mercedes-benz 280s': 1,
 'cadillac seville': 1,
 'chevy c10': 1,
 'ford f108': 1,
 'dodge d100': 1,
 'honda accord cvcc': 1,
 'buick opel isuzu deluxe': 1,
 'renault 5 gtl': 1,
 'plymouth arrow gs': 1,
 'datsun f-10 hatchback': 1,
 'oldsmobile cutlass supreme': 1,
 'dodge monaco brougham': 1,
 'mercury cougar brougham': 1,
 'chevrolet concours': 1,
 'buick skylark': 2,
 'plymouth volare custom': 1,
 'ford granada': 1,
 'pontiac grand prix lj': 1,
 'chevrolet monte carlo landau': 2,
 'chrysler cordoba': 1,
 'ford thunderbird': 1,
 'volkswagen rabbit custom': 1,
 'pontiac sunbird coupe': 1,
 'toyota corolla liftback': 1,
 'ford mustang ii 2+2': 1,
 'dodge colt m/m': 1,
 'subaru dl': 2,
 'datsun 810': 1,
 'bmw 320i': 1,
 'mazda rx-4': 1,
 'volkswagen rabbit custom diesel': 1,
 'ford fiesta': 1,
 'mazda glc deluxe': 1,
 'datsun b210 gx': 1,
 'oldsmobile cutlass salon brougham': 2,
 'dodge diplomat': 1,
 'mercury monarch ghia': 1,
 'pontiac phoenix lj': 1,
 'ford fairmont (auto)': 1,
 'ford fairmont (man)': 1,
 'plymouth volare': 1,
 'amc concord': 2,
 'buick century special': 1,
 'mercury zephyr': 1,
 'dodge aspen': 2,
 'amc concord d/l': 1,
 'buick regal sport coupe (turbo)': 1,
 'ford futura': 1,
 'dodge magnum xe': 1,
 'datsun 510': 1,
 'dodge omni': 1,
 'toyota celica gt liftback': 1,
 'plymouth sapporo': 1,
 'oldsmobile starfire sx': 1,
 'datsun 200-sx': 1,
 'audi 5000': 1,
 'volvo 264gl': 1,
 'saab 99gle': 1,
 'peugeot 604sl': 1,
 'volkswagen scirocco': 1,
 'honda accord lx': 1,
 'pontiac lemans v6': 1,
 'mercury zephyr 6': 1,
 'ford fairmont 4': 1,
 'amc concord dl 6': 1,
 'dodge aspen 6': 1,
 'ford ltd landau': 1,
 'mercury grand marquis': 1,
 'dodge st. regis': 1,
 'chevrolet malibu classic (sw)': 1,
 'chrysler lebaron town @ country (sw)': 1,
 'vw rabbit custom': 1,
 'maxda glc deluxe': 1,
 'dodge colt hatchback custom': 1,
 'amc spirit dl': 1,
 'mercedes benz 300d': 1,
 'cadillac eldorado': 1,
 'plymouth horizon': 1,
 'plymouth horizon tc3': 1,
 'datsun 210': 2,
 'fiat strada custom': 1,
 'buick skylark limited': 1,
 'chevrolet citation': 3,
 'oldsmobile omega brougham': 1,
 'pontiac phoenix': 2,
 'toyota corolla tercel': 1,
 'datsun 310': 1,
 'ford fairmont': 1,
 'audi 4000': 1,
 'toyota corona liftback': 1,
 'mazda 626': 2,
 'datsun 510 hatchback': 1,
 'mazda glc': 1,
 'vw rabbit c (diesel)': 1,
 'vw dasher (diesel)': 1,
 'audi 5000s (diesel)': 1,
 'mercedes-benz 240d': 1,
 'honda civic 1500 gl': 1,
 'renault lecar deluxe': 1,
 'vokswagen rabbit': 1,
 'datsun 280-zx': 1,
 'mazda rx-7 gs': 1,
 'triumph tr7 coupe': 1,
 'ford mustang cobra': 1,
 'honda accord': 2,
 'plymouth reliant': 2,
 'dodge aries wagon (sw)': 1,
 'toyota starlet': 1,
 'plymouth champ': 1,
 'honda civic 1300': 1,
 'datsun 210 mpg': 1,
 'toyota tercel': 1,
 'mazda glc 4': 1,
 'plymouth horizon 4': 1,
 'ford escort 4w': 1,
 'ford escort 2h': 1,
 'volkswagen jetta': 1,
 'renault 18i': 1,
 'honda prelude': 1,
 'datsun 200sx': 1,
 'peugeot 505s turbo diesel': 1,
 'volvo diesel': 1,
 'toyota cressida': 1,
 'datsun 810 maxima': 1,
 'oldsmobile cutlass ls': 1,
 'ford granada gl': 1,
 'chrysler lebaron salon': 1,
 'chevrolet cavalier': 1,
 'chevrolet cavalier wagon': 1,
 'chevrolet cavalier 2-door': 1,
 'pontiac j2000 se hatchback': 1,
 'dodge aries se': 1,
 'ford fairmont futura': 1,
 'amc concord dl': 1,
 'volkswagen rabbit l': 1,
 'mazda glc custom l': 1,
 'mazda glc custom': 1,
 'plymouth horizon miser': 1,
 'mercury lynx l': 1,
 'nissan stanza xe': 1,
 'honda civic (auto)': 1,
 'datsun 310 gx': 1,
 'buick century limited': 1,
 'oldsmobile cutlass ciera (diesel)': 1,
 'chrysler lebaron medallion': 1,
 'ford granada l': 1,
 'toyota celica gt': 1,
 'dodge charger 2.2': 1,
 'chevrolet camaro': 1,
 'ford mustang gl': 1,
 'vw pickup': 1,
 'dodge rampage': 1,
 'ford ranger': 1,
 'chevy s-10': 1}